*{
	padding: 0px;
	margin: 0px;
	text-decoration: none;
	color: #1C1C1C;
	font-family: 'Nunito Sans', sans-serif;
}
body{
	background-color: #F8F8FF;
}
div#container{
	padding: 50px 0 50px 0;
	width: 960px;
	margin: 0 auto;
}
p{
	color: #BEBEBE;
	font-size: 20pt;
}
header{
	display: block;
	background-color: #8B1A1A;
	padding: 10px;
	box-sizing: border-box;
	height: 320px;
}
footer{
	background-color: black;
	color: #FFF;
	text-align: center;
	padding: 10px;
}
a{	
	color: #FFF;
	text-align: center;
	display: inline-block;
	width: 150px;
	padding: 10px;
	text-transform: uppercase;
	transition: all .5s;
}
a:hover{
	background-color: rgba(0,0,0,.1);
	border-bottom: 5px solid rgba(0,0,0,.5);
	transition: all .1s;
}